<footer class="row justify-content-between text-white mx-3 py-3 px-3 border-white border-1 border-top">
    <div class="col-lg-6">
        <h2>Movie-Website</h2>    
        <p>Copyright @Movie-website</p>    
    </div>
    <div class="col-lg-2 icons-grid">
        <p>Follow us on Media social :</p>
        <div class="icons d-flex gap-3 justify-content-center">
            <i class="fa fa-1x fa-facebook"></i>
            <i class="fa fa-1x fa-instagram"></i>
            <i class="fa fa-1x fa-twitter"></i>
            <i class="fa fa-1x fa-linkedin"></i>
            <i class="fa fa-1x fa-whatsapp"></i>
        </div>
    </div>
</footer>